<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h2>Вход</h2>

<div th:if="${param.error}">
    <p style="color: red; font-weight: bold;">
        Неверный логин или пароль!
    </p>
</div>

<form th:action="@{/login}" method="post">
    <label>Логин:</label>
    <input type="text" name="username">

    <label>Пароль:</label>
    <input type="password" name="password">

    <button type="submit">Войти</button>
</form>
